/* body {
  background-color: rgb(234, 234, 234) !important;
} */

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: normal;
}

/*end home page styles*/
.bgpattern {
  background-image: radial-gradient(gray 1px, transparent 0);
  background-size: 20px 20px, 20px 20px;
}

/* New UI */
.rainbow {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.1, rgb(44, 94, 204)),
    color-stop(0.9, rgb(255, 104, 34))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.rainbowbg {
  /* width: 30rem;
  height: 20rem; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
.frostedGlassbg {
  /* background: url(https://unsplash.com/photos/BslSDcQww0M/download?force=true) no-repeat; */
  background: url(https://unsplash.com/photos/Tk0B3Dfkf_4/download?force=true&w=1920)
    no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: auto;
padding: 3%;
}
.frostedGlassContainer {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.frostedGlassContainerWithPadding {
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding: 3%;
}
.frostedGlassbg2 {
  /* background: url(https://unsplash.com/photos/BslSDcQww0M/download?force=true) no-repeat; */
  background: url(https://unsplash.com/photos/7JX0-bfiuxQ/download?force=true&w=1920)
    no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height:auto;
  padding: 3%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.frostedGlassContainer2 {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

}

.center {
  position: fixed; /* or absolute */
  top: 40%;
  left: 44%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
* {
  box-sizing: border-box;
} */
